:root {
  --red: #b00;
  --blue: #00b;
  --app-width: 380px;
  --background-color: rgba(0, 0, 0, 0.1);
  --body-font: "Arial Black", sans-serif;
  --content-height: 350px;
  --font-size: font-size: 20px;
  --input-color: #4162f6;
  --animation-duration: 0.2s;
}

body {
  background-color: var(--background-color);
  font-family: var(--body-font);
}

#container {
  max-width: var(--app-width);
  margin: 10px auto;
}

#header {
  width: 380px;
  height: 200px;
  background-image: url("bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

#clearButton {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  background-oc-webkit-transition-duration: var(--animation-duration); /* Safari */
  transition-duration: var(--animation-duration);
  font-size: 1em;
  border-radius: 5px;
  padding: 5px 15px;
}
#clearButton:hover {
  background-color: rgb(247, 46, 46);
  color: white;
}

#date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 1.5em;
}

/* --- content ------------------------------- */
#content {
  height: var(--content-height);
  background-color: #fff;
  overflow: auto;
}
#content::-webkit-scrollbar {
  display: none;
}
#content ul {
  padding: 0;
  margin: 0;
}
i:hover {
  cursor: pointer;
}
li.item {
  /* position: relative; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  font-size: var(--font-size);
  padding: 10px;
}
i.fa-trash-alt {
  float: right;
  background-oc-webkit-transition-duration: var(--animation-duration); /* Safari */
  transition-duration: var(--animation-duration);
}
i.fa-trash-alt:hover {
  color: red
}
span.check-box{
  width: 19px;
  height: 19px;
}
.check-box:hover .fa-square,
.check-box .fa-check-square {
  display: none;
}
.check-box:hover .fa-check-square {
  display: inline;
}
/* .text {
  word-wrap: break-word;
  width: 350px;
} */

li.complete {
  color: grey;
}
li.complete span.text {
  text-decoration: line-through;
}
/* ---------------------------------- */


/* add todo */
.add-todo {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: var(--font-size);
  color: var(--input-color);
}
.add-todo i{
  float: right;
}

.add-todo input {
  width: 310px;
  background-color: transparent;
  border: none;
}
